01-n8n/workflows/anuncio-evento.json
{
  "name": "IBM Joven – Anuncio de Evento",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [220, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $env.GOOGLE_SHEETS_TAB }}"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "tipo",
              "lookupValue": "anuncio"
            },
            {
              "lookupColumn": "estado",
              "lookupValue": "pendiente"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "id": "sheets-read",
      "name": "Leer Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [460, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CONFIGURAR",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"Eres un community manager cristiano para IBM Joven (ministerio juvenil de la Iglesia Bautista Maranata).\\n\\nGenera contenido para un POST + STORY de Instagram anunciando un evento/actividad.\\n\\nDatos del evento:\\n- Título: {{ $json.titulo }}\\n- Descripción: {{ $json.texto_base }}\\n- Fecha publicación: {{ $json.fecha_publicacion }}\\n- Versículo relacionado (opcional): {{ $json.verse_ref }} – {{ $json.verse_text }}\\n\\nReglas:\\n- Tono cercano, joven, entusiasta pero medido\\n- Máximo 2 emojis por texto\\n- Incluir: qué, cuándo, dónde\\n- Post máx 120 palabras, story máx 40 palabras\\n- Hook de máx 12 palabras\\n- CTA de máx 12 palabras que invite a participar\\n- Incluir #IBMJoven en hashtags\\n- bloques_canva con textos exactos para pegar en template\\n\\nResponde SOLO con JSON válido (sin markdown, sin ```json):\\n{\\n  \\\"hook\\\": \\\"\\\",\\n  \\\"copy_post\\\": \\\"\\\",\\n  \\\"copy_story\\\": \\\"\\\",\\n  \\\"cta\\\": \\\"\\\",\\n  \\\"hashtags\\\": \\\"\\\",\\n  \\\"bloques_canva\\\": {\\n    \\\"titulo\\\": \\\"\\\",\\n    \\\"subtitulo\\\": \\\"\\\",\\n    \\\"cuerpo\\\": \\\"\\\",\\n    \\\"footer\\\": \\\"@ibm_joven\\\"\\n  }\\n}\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.7,\n    \"topP\": 0.95,\n    \"maxOutputTokens\": 1024\n  }\n}",
        "options": {}
      },
      "id": "gemini-llm",
      "name": "Gemini – Generar Copy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300],
      "credentials": {
        "httpQueryAuth": {
          "id": "CONFIGURAR",
          "name": "Gemini API Key"
        }
      },
      "notes": "Credencial httpQueryAuth: name=key, value=$GEMINI_API_KEY"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst text = response.candidates[0].content.parts[0].text;\n\nlet clean = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\nlet parsed;\n\ntry {\n  parsed = JSON.parse(clean);\n} catch (e) {\n  const match = clean.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    parsed = JSON.parse(match[0]);\n  } else {\n    throw new Error('No se pudo parsear respuesta LLM: ' + clean.substring(0, 200));\n  }\n}\n\nreturn [{ json: parsed }];"
      },
      "id": "parse-response",
      "name": "Parsear Respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            { "id": "hook", "name": "hook", "value": "={{ $json.hook }}", "type": "string" },
            { "id": "copy_post", "name": "copy_post", "value": "={{ $json.copy_post }}", "type": "string" },
            { "id": "copy_story", "name": "copy_story", "value": "={{ $json.copy_story }}", "type": "string" },
            { "id": "hashtags", "name": "hashtags", "value": "={{ $json.hashtags }}", "type": "string" },
            { "id": "cta", "name": "cta", "value": "={{ $json.cta }}", "type": "string" },
            { "id": "bloques_canva", "name": "bloques_canva", "value": "={{ JSON.stringify($json.bloques_canva) }}", "type": "string" },
            { "id": "link_template_post", "name": "link_template_post", "value": "https://www.canva.com/design/TEMPLATE_POST_ANUNCIO/edit", "type": "string" },
            { "id": "link_template_story", "name": "link_template_story", "value": "https://www.canva.com/design/TEMPLATE_STORY_ANUNCIO/edit", "type": "string" },
            { "id": "tipo", "name": "tipo", "value": "anuncio", "type": "string" },
            { "id": "fecha", "name": "fecha", "value": "={{ new Date().toISOString().slice(0,10) }}", "type": "string" },
            { "id": "row_id", "name": "row_id", "value": "={{ $('Leer Sheet').first().json.id }}", "type": "string" }
          ]
        }
      },
      "id": "set-pack",
      "name": "PACK_LISTO",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1180, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=*ANUNCIO DE EVENTO* – {{ $json.fecha }}\n\n*Hook:* {{ $json.hook }}\n\n*Copy Post:*\n{{ $json.copy_post }}\n\n*Copy Story:*\n{{ $json.copy_story }}\n\n{{ $json.hashtags }}\n\n{{ $json.cta }}\n\n─────────────────\n*Bloques para Canva:*\n{{ $json.bloques_canva }}\n\n*Templates Canva:*\nPost: {{ $json.link_template_post }}\nStory: {{ $json.link_template_story }}\n\n*Checklist:*\n1. Abrir template Canva\n2. Pegar titulo, subtitulo, cuerpo, footer\n3. Verificar fecha, hora y lugar\n4. Exportar PNG\n5. Publicar en IG + FB\n6. Marcar como publicado en Sheet",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-send",
      "name": "Enviar Pack Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1420, 300],
      "credentials": {
        "telegramApi": {
          "id": "CONFIGURAR",
          "name": "Telegram Bot IBM Joven"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $env.GOOGLE_SHEETS_TAB }}"
        },
        "columns": {
          "mappingMode": "manual",
          "values": [
            { "column": "id", "value": "={{ $json.row_id }}" },
            { "column": "estado", "value": "listo" },
            { "column": "copy_generado", "value": "={{ $json.copy_post }}" },
            { "column": "hashtags", "value": "={{ $json.hashtags }}" },
            { "column": "cta", "value": "={{ $json.cta }}" },
            { "column": "hook", "value": "={{ $json.hook }}" },
            { "column": "timestamp", "value": "={{ new Date().toISOString() }}" }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "sheets-update",
      "name": "Actualizar Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1660, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CONFIGURAR",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Flujo: Anuncio de Evento\n\nTrigger: Manual (editor carga evento en Sheet y ejecuta).\n\nPasos:\n1. Lee primera fila con tipo=anuncio, estado=pendiente\n2. Envia datos al LLM (Gemini) para generar copy + story + bloques_canva\n3. Parsea la respuesta JSON\n4. Arma PACK_LISTO con links a templates Canva de anuncio\n5. Envia pack formateado por Telegram (incluye bloques_canva)\n6. Actualiza fila en Google Sheets (estado -> listo)\n\nCredenciales necesarias:\n- Google Sheets OAuth2 (lectura/escritura)\n- Gemini API Key (httpQueryAuth: name=key)\n- Telegram Bot Token\n\nVariables de entorno:\n- GOOGLE_SHEETS_ID\n- GOOGLE_SHEETS_TAB\n- TELEGRAM_CHAT_ID\n- GEMINI_API_KEY\n\nDiferencia con versiculo:\n- Genera copy_story (40 palabras)\n- Incluye bloques_canva con titulo/subtitulo/cuerpo/footer\n- Template Canva diferente (diseno de evento)",
        "width": 400,
        "height": 400
      },
      "id": "notes",
      "name": "Notas",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [140, 40]
    }
  ],
  "connections": {
    "Manual": {
      "main": [
        [{ "node": "Leer Sheet", "type": "main", "index": 0 }]
      ]
    },
    "Leer Sheet": {
      "main": [
        [{ "node": "Gemini – Generar Copy", "type": "main", "index": 0 }]
      ]
    },
    "Gemini – Generar Copy": {
      "main": [
        [{ "node": "Parsear Respuesta", "type": "main", "index": 0 }]
      ]
    },
    "Parsear Respuesta": {
      "main": [
        [{ "node": "PACK_LISTO", "type": "main", "index": 0 }]
      ]
    },
    "PACK_LISTO": {
      "main": [
        [{ "node": "Enviar Pack Telegram", "type": "main", "index": 0 }]
      ]
    },
    "Enviar Pack Telegram": {
      "main": [
        [{ "node": "Actualizar Sheet", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "ibm-joven" },
    { "name": "anuncio" },
    { "name": "produccion" }
  ]
}
